body{
    text-align: center;
}

.cuerpo{
    display: flex;
    justify-content: center;
}

.cuadro{
    width: 300px;
    border:  solid gray ;
    color:yellow;
    background-color: gray;
}

button{
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: yellow;
}